.textdata {
  font-size: 2em;
  text-transform: uppercase;
  animation: 4s infinite alternate animatedStroke;

}

@keyframes animatedStroke {
  0% {
    fill: transparent;
    stroke: green;
    stroke-width: 2;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 31%;
  }

  50% {
    fill: transparent;
    stroke: green;
    stroke-width: 2;


  }

  80%,
  100% {
    fill: green;
    stroke: transparent;
    stroke-width: 2;
    stroke-dashoffset: -25%;
    stroke-dasharray: 31 0%;
  }
}

.datas {
  border: 1px solid red;
  width: 500px;
  overflow: hidden;
  margin: 0px auto;
}

.unorder {
  display: flex;
  gap: 40px;
  list-style: none;
  animation: 10s infinite alternate moves;

}

.unorder li {
  background-color: gray;
  padding: 10px 30px;
}

@keyframes moves {
  to {
    transform: translateX(-100%);
    transition: all 4s ease-in-out;
  }


}