nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 10px;

}

.logo div {
  font-size: 15px;
  font-weight: 800;
}

.menu_item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.info div {
  display: flex;
  font-size: 12px
}

.callbutton {
  background-color: orange;
  color: white;
}